h1 {
color: darkblue;
font-family: Georgia;
font-size: 50px;
text-align: center;
}

body {
  background-color: #38529e;
}

nav a {
  width: 12rem;
  height: 3rem;
  font-size: 2rem;
  display: block;
  color: #7878f0;
  text-decoration: none;
  text-align: center;
}

#PageSelect {
    background-color: #381296;
    text-align: left;
    float: right;
    width: 100%;
    padding: 10px;
}

h2 {
  color: #1c0957;
  font-family: Georgia;
  font-size: 30px;
  text-align: center;
}

p {
  color: #52a5ed;
  font-family: Georgia;
  font-size: 20px;
  text-align: center;
}

#Telltale {
  background-color: #146391;
}

nav li {
  float: left;
}
